
.scroll-box::-webkit-scrollbar {
    width: .4em; 
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: #00000090; 
}
.cover-bar {
    position: absolute;
    background: inherit;
    height: 100%;  
    top: 0;
    right: 0;
    width: .4em;
    transition: all .5s;
    -webkit-transition: all .5s;
    opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}